<h4>Word Name: "<%= @word.name %>"</h4>


<h3>Definitions</h3>

  <% if @word.songs %>
    <ul>
      <% @word.songs.each do |song| %>
        <li><a href="/albums/<%= @word.id %>/songs/<%= song.id %>"><%= song.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no definitions listed for this word yet.</p>
  <% end %>

<h4>Add a word:</h4>

<form action="/albums/<%= @word.id %>/songs" method="post">
  <div class="form-group">
    <label for="song_name">word name</label>
    <input id="song_name" name="song_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add a definition</button>
</form>

<p><a href="/albums/<%= @word.id %>/edit">Edit word</a></p>
<a href="/albums">Return to album list</a>